<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fushi.mapper.PermissionMapper">

    <select id="selectPermKeysByUserId" resultType="java.lang.String">
        SELECT DISTINCT p.perm_key
        FROM sys_permission p
        JOIN sys_role_permission rp ON p.id = rp.perm_id
        JOIN sys_user_role ur ON rp.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
        AND p.status = 1
        AND p.perm_key IS NOT NULL
    </select>

    <select id="selectMenusByUserId" resultType="com.fushi.entity.Permission">
        SELECT DISTINCT
        p.id,
        p.perm_name,
        p.perm_key,
        p.perm_type,
        p.parent_id,
        p.path,
        p.component,
        p.icon,
        p.sort,
        p.status
        FROM
        sys_permission p
        LEFT JOIN sys_role_permission rp ON p.id = rp.perm_id
        LEFT JOIN sys_user_role ur ON rp.role_id = ur.role_id
        LEFT JOIN sys_role r ON ur.role_id = r.id
        WHERE
        ur.user_id = #{userId}
        AND p.status = 1
        AND r.status = 1
        AND p.perm_type IN (1, 2)
        ORDER BY
        p.parent_id, p.sort
    </select>


</mapper>